$brand-primary : #000;
$link-color: #164096;
$navbar-default-color : #ffffff;
$navbar-default-bg: #ffffff;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: $brand-primary;
