$brand-primary : #ef7d92;
$link-color:            $brand-primary;
$navbar-default-color : #ffffff;
$navbar-default-bg: #ffffff;
$navbar-default-link-color: $text-color;
$navbar-default-link-hover-color: #ef7d92;

