@import 'css/variables';

a:visited {
	color: $link-color;
}

img {
	max-width: 100%;
	height: auto;
}

/* Layout */
.page.grid {
	grid-template-columns: 100%;
}
header#header, .breadcrumb, footer, #nav, #content {
	width: 100%;
	grid-column: 1 / 2;
}

/* Header */
#logo_site_spip {
	font-size: 0;
}

/* Navigation */
#nav {
	.navbar {
		li {
			a {
				border:none;
			}
		}
		li:first-child {
			a {
				padding-left: 0;
			}
		}
	}
}

.menu_rubriques {
	text-align: right;
	h2 {
		display: none;
	}
	li {
		display: inline-block;
		width: auto;
	}
	a {
		color: $navbar-default-link-color;
	}
	li:not(:last-child) {
		a:after {
			font-weight: normal;
			content: " |";
		}
	}
}

.page {
	border: none;
	box-shadow: none;

}

/* Tags */
.tags ul {
	padding: 0;
}

/* Home */
.rubrique_home .grid {
	#content {
		margin-bottom: 1em;
	}
	#extra1, #extra2 {
		display: none;
	}
}

/* Photographen */
#documents_album {
	ul {
		width: 66%;
		margin: 0 auto;
		justify-content: space-between;
		padding-left: 0;
	}
	li {
		width: 49%;
		margin: 0;
		height: auto;
		span {
			display: block;
		}
	}
	img {
		max-width: 100%;
		height : auto;
		margin: 0;
	}
}

.rubrique_home #content header h1 {
	display: none;
}

/* divers */
.reseaux-sociaux {
	text-align: right;
	margin-bottom: 1em;
}

/* Masonry from https://w3bits.com/css-masonry/ */
.masonry {
	transition: all .5s ease-in-out;
	column-gap: 1em;
	column-fill: initial;
	column-count: 3;
	margin: 1.5em 0;
  padding: 1px;
	.item {
		background: #fff;
		padding: 0;
		margin: 0 0 1.5em;
		vertical-align: top;
		display: block;
		width: 100%;
	}
	img {
		margin: 0;
		padding: 0;
		width: auto;
	}
}

/* Media queries */
/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
	.masonry {
		column-count: 3;
	}
}

@media (max-width: 800px) {
	#nav {
		.navbar {
			background-color: #fff;
			border: none;
			border-radius: 0;
			box-shadow: none;
			li {
				a{
					text-align: right;
					padding: 0;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	#extra1, #extra2, #content {
		grid-column: 1 / 2;
	}
	.row {
		.secondaire {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.masonry {
		column-count: 2;
	}

	#documents_album ul {
		width: 100%;
		li {
			width: 49%;
		}
	}
}

@media (max-width: 414px) {
	#documents_album ul {
		li {
			width: 100%;
			margin-right: 0;
		}
	}
}