@import 'css/variables_vera';

/* Header */
#logo_site_spip {
	font-size: 0;
}

/* navigation principale */
.navbar {
	background-image: none;
}

/* divers */
.reseaux-sociaux {
	text-align: right;
	margin-bottom: 1em;
}

/* Media queries */

@media (max-width: 800px) {

	.row {
		.secondaire {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}