@import 'css/variables';

a:visited {
	color: $link-color;
}

.rubrique_home .grid {
	display: block;
	#content {
		margin-bottom: 1em;
	}
	#extra1, #extra2 {
		display: none;
	}
}

/* Header */
#logo_site_spip {
	font-size: 0;
}

.rubrique_home #content header h1 {
	display: none;
}

.main {
	width: 100%;
}

/* navigation principale */
.navbar {
	background-image: none;
}

/* divers */
.reseaux-sociaux {
	text-align: right;
	margin-bottom: 1em;
}

/* Media queries */

@media (max-width: 800px) {

	.row {
		.secondaire {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}